@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background-color: #f9f8f6;
}

body {
  @apply bg-sand text-ink font-sans antialiased;
}

a {
  @apply text-inherit no-underline;
}
